In [1]:
# Importing the kaggle library to load a dataset
import kaggle
from kaggle.api.kaggle_api_extended import KaggleApi

In [2]:
# Authentificating 
api = KaggleApi()
api.authenticate()

# And load a dataset
api.dataset_download_file('himanshupoddar/zomato-bangalore-restaurants',
                         file_name='zomato.csv')

True

In [1]:
# Importing libraries for ananlysis
import numpy as np
import pandas as pd

# Load the Data

In [2]:
zomato = pd.read_csv('zomato.csv.zip'
                     , compression='zip')

In [3]:
zomato.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

# Data Description

In [12]:
# Checking shape of the data
shape_data = zomato.shape

print(f"Dataset have {shape_data[0]} columns and {shape_data[1]} rows")

Dataset have 23193 columns and 17 rows

In [13]:
# Looking type of every column in the dataset
zomato.dtypes

url                            object
address                        object
name                           object
online_order                   object
book_table                     object
rate                           object
votes                           int64
phone                          object
location                       object
rest_type                      object
dish_liked                     object
cuisines                       object
approx_cost(for two people)    object
reviews_list                   object
menu_item                      object
listed_in(type)                object
listed_in(city)                object
dtype: object

In [14]:
# Checkin a summary statistics
zomato.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
url,23193,23193,https://www.zomato.com/bangalore/jalsa-banasha...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
address,23193,4371,"The Ritz-Carlton, 99, Residency Road, Bangalore",51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,23193,3159,Onesta,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN
online_order,23193,2,Yes,16358,NaN,NaN,NaN,NaN,NaN,NaN,NaN
book_table,23193,2,No,17071,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rate,23193,63,3.9/5,1689,NaN,NaN,NaN,NaN,NaN,NaN,NaN
votes,23193.0,NaN,NaN,NaN,601.074462,1114.854301,0.0,101.0,221.0,586.0,16832.0
phone,23193,6809,080 33994444,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN
location,23193,88,Koramangala 5th Block,1783,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rest_type,23193,73,Casual Dining,7349,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dish_liked,23193,5189,Biryani,181,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cuisines,23193,1687,North Indian,1144,NaN,NaN,NaN,NaN,NaN,NaN,NaN
approx_cost(for two people),23193,57,400,2467,NaN,NaN,NaN,NaN,NaN,NaN,NaN
reviews_list,23193,13998,[],176,NaN,NaN,NaN,NaN,NaN,NaN,NaN
menu_item,23193,5026,[],16414,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listed_in(type),23193,7,Delivery,10625,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listed_in(city),23193,30,BTM,1423,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Looking to find out first what columns have null values
zomato.isnull().sum().sort_values(ascending=False)

url                            0
rest_type                      0
listed_in(type)                0
menu_item                      0
reviews_list                   0
approx_cost(for two people)    0
cuisines                       0
dish_liked                     0
location                       0
address                        0
phone                          0
votes                          0
rate                           0
book_table                     0
online_order                   0
name                           0
listed_in(city)                0
dtype: int64